body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	width: 100%;
	margin: 0;
}
img {
	max-width: 100%;
}
.container > header {
	background: #12CBBA;
	height: 650px;
}
	.container > header .logo {
		width: 18%;
		padding: 0.5em;
		cursor: pointer;
	}
	.container #header {
		background: #fff;
		padding: 1em;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}
	.container > header #header nav#nav-desktop {
		display: inline-block;
		width: 70%;
		text-align: right;
	}
		.container > header #header nav#nav-desktop ul {}
			.container > header #header nav#nav-desktop ul li {
				display: inline-block;
			}
				.container > header #header nav#nav-desktop ul li a {
					-o-transition: all 0.4s ease;
					-webkit-transition: all 0.4s ease;
					border-bottom: 2px solid transparent;
					color: #333;
					display: inline-block;
					font-size: 1.1em;
					font-weight: 300;
					padding: 0.5em;
					text-decoration: none;
					transition: all 0.4s ease;
				}

	.container > header h1 {
		font-size: 3.8em;
		font-weight: 200;
		color: #fff;
		margin: 0;
		padding: 4em 1em 0 1em;
	} 
		.container > header h1 strong {
			color: #3e3e3e;
			font-weight: 800;
		}
	.container > header #mobile-nav {
		position: relative;
		z-index: 9999999;
	}
		.container > header #mobile-nav li {
			display: block;
		}

.container #tikalopers {
	background: #13B3A4;
	padding: 6em;
}
	.container #tikalopers h2 {
		margin: 0;
		padding: 0;
		font-size: 3em;
		color: #FFF;
	}
	.container #tikalopers h3 {
		font-weight: 300;
		margin: 0;
		font-size: 1.5em;
		color: #DDD;
	}
	.container #tikalopers p {
		font-weight: 300;
		padding: 0 5em;
		font-size: 1.15em;
		color: #FFF;
	}

.container #services {
	background: #FFF;
	padding: 3em 0 0 0;
}
	.container #services > h2 {
		margin: 0;
		font-size: 3em;
		color: #3C3C3C;
		display: inline-block;
		border-bottom: 1px solid;
	}
	.container #services .service {

	}
		.container #services .service > h2 {
			color: #4E4E4E;
			margin: 0;
		}
		.container #services .service > span {
			background: #26A69A;
			border-radius: 100%;
			color: #fff;
			display: inline-block;
			font-size: 2.2em;
			font-weight: 500;
			cursor: pointer;
			padding: 1em;
			margin: 1.5em 0 0.8em 0;
		}
		.container #services .service p {
			margin: 0;
			font-weight: 300;
			color: #888;
			font-size: 1.2em;
		}
	.container #services .service .container-block-services {
		margin-top: 1em;
	}
		.container #services .service .block-service {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			background: #FFF;
			border: 1px solid #DDD;
			border-radius: 0 0 10px 10px;
			box-sizing: border-box;
			display: inline-block;
			height: 100%;
			height: 360px;
			margin: 1em;
			min-height: 100%;
			position: relative;
			text-align: left;
			vertical-align: top;
			width: 20%;
		}
		.container #services .service .block-service ul {
			margin: 0;
			padding: 1.5em 2.5em;
		}
			.container #services .service .block-service ul li {
				font-weight: 300;
				color: #555;
				padding: 0.15em;
			}
		.container #services .service .block-service header {
			/* background: #11BBAB; */
			/* #2c3e50 */
			border-bottom: 1px solid #aaa;
			padding: 1em;
		}
			.container #services .service .block-service header h2 {
				margin: 0;
				text-align: center;
				color: #333;
				font-weight: 600;
				font-size: 1.5em;
			}
		.container #services .service .block-service > div {
			text-align: center;
			position: absolute;
			width: 100%;
			bottom: 0;
		}
			.container #services .service .block-service button {
				background: #12CBBA;
				border: none;
				color: #fff;
				font-size: 1.1em;
				font-weight: 600;
				outline: none;
				padding: 0.9em;
				width: 100%;
				-webkit-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				border-bottom: 3px solid #13B3A4;
				border-radius: 0 0 4px 4px;
			}
	.container #services .benefits {
		
	}
		.container #services .benefits h2 {
			margin: 1em 0 0 0;
			color: #555;
			font-size: 1em;
		}
		.container #services .benefits ul {
			display: inline-block;
			font-size: .9em;
			list-style: none;
			margin: 0.2em 0 0 0;
			padding: 0;
		}
			.container #services .benefits ul li {
				color: #444;
				font-weight: 300;
			}
				.container #services .benefits ul li:before {
					content: '- ';
				}
.container #services .package-services {
	background: #FFEB3B;
    color: #333;
    padding: 3.5em 0 5em 0;
    margin-top: 2em;
}
	.container #services .package-services h2 {
		margin: 0;
		font-size: 3em;
	}
	.container #services .package-services h3 {
		margin: 0 0 16px 0;
		font-weight: 300;
		font-size: 1.4em;
	}
	.container #services .package-services .block-service {
		background: #fff;
		color: #333;
		display: inline-block;
		width: 20%;
		padding: 1.5em 1em;
	}
		.container #services .package-services .block-service > span {
			color: #333;
			font-size: 3em;
			display: inline-block;
			margin: 16px 0;
			background: #FFEB3B;
			border-radius: 100%;
			padding: 16px;
		}
		.container #services .package-services .block-service p {
			font-weight: 300;
			margin: 0 0 1.5em 0;
			color: #333;
		}
		.container #services .package-services .block-service button {
			background: #FFEB3B;
			border: none;
			color: #333;
			font-weight: 500;
			outline: none;
			padding: 0.9em;
		}

.container #work {
	background: #EEE;
	padding: 3em 0 1em 0;
	position: relative;
}
	.container #work #mobile-web-applications {
		/* background: linear-gradient(0, #F5F5F5, #FFF); */
		text-align: right;
		overflow:hidden;
		margin-bottom: 3em;
	}
	.container #work #mobile-web-applications img {
		margin-bottom: -4px;
	}
	.container #work .figure-work {
		width: 52%;
	}
	.container #work .title-work {
		width: 38%;
		text-align: left;
		margin-top: 8em;
	}
	.container #work .title-work, .container #work .figure-work {
		display: inline-block;
		vertical-align: top;
	}
	.container #work .title-work h2 {
		font-size: 3.1em;
		font-weight: 200;
		margin: 0;
	}
	.container #work > h2 {
		color: #2D2D2D;
		margin: 0 0 1em 0;
		font-size: 3em;
	}
	.container #work #social-media-marketing {
		margin-top: 4em;
		margin-bottom: 2em;
		text-align: left;
	}
		.container #work #social-media-marketing .figure-work {
			margin-left: 2em;
		} 
		.container #work #social-media-marketing .title-work {
			
		}
		.container #work #social-media-marketing .title-work h2 {
			margin-left: 2em;
		}

.container #we {
	background: #E0F2F1;
	color: #444;
	padding: 4em 0;
}
	.container #we h2 {
		color: #3C3C3C;
		margin: 0 0 0.5em 0;
		font-size: 2.5em;
	}
		.container #we article > div {
			display: inline-block;
			vertical-align: top;
			margin: 2em;
		}
			.container #we article figure {
				padding: 2em;
				background: #12CBBA;
				border-radius: 100%;
				height: 100px;
				width: 100px;
				display: inline-block;
			}
			.container #we article h4 {
				font-weight: 300;
				font-size: 1.5em;
			}
			.container #we article h3 {
				font-size: 1.4em;
				font-weight: 800;
				color: #A0B9B7;
			}
			.container #we article h4, .container #we article h3 {
				margin: 0;
			}
			.container #we article .icons-network {
				margin-top: 1em;
			}
			.container #we article .icons-network a {
				text-decoration: none;
				background: #26A69A;
				color: #FFF;
				font-size: 1.5em;
				border-radius: 100%;
				padding: 0.5em;
				display: inline-block;
				margin: 0 0.2em;
			}

.container #contact {
	padding: 3em;
	background: #FFF;
}
	.container #contact > h2 {
		margin: 0;
		font-size: 2.8em;
		color: #26A69A;
	}
	.container #contact .social-network ul {
		list-style: none;
		margin-top: 2em;
		padding: 0;
	}
		.container #contact .social-network ul li {
			display: inline-block;
			margin: 0 1em;
		}
			.container #contact .social-network ul li h3 {
				margin: 0;
				font-size: 1.8em;
				color: #A0B9B7;
				font-weight: 600;
			}
				.container #contact .social-network ul li a {
					color: #3C3C3C;
					text-decoration: none;
					font-size: 1.2em;
				}
	.container #contact .phones {
		margin-top: 3em;
	}
	.container #contact .phones h2 {
		font-size: 1.8em;
		margin: 0;
		color: #333;
	}
	.container #contact .phones h3 {
		color: #333;
		font-size: 1.2em;
		font-weight: 400;
		margin: 0.8em 0 0.4em 0;
	}
	.container #contact .phones ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		.container #contact .phones ul li {
			font-size: 1.5em;
			font-weight: 300;
		}
	.container #contact .form-contact {
		margin-top: 1em;
	}
		.container #contact .form-contact h3 {
			color: #333;
			font-size: 1.4em;
		}
			.container #contact .form-contact h3:after {
				content: ' -' ;
			}
			.container #contact .form-contact h3:before {
				content: '- ';
			}
		.container #contact .form-contact form {
			display: inline-block;
			width: 30%;
		}
			.container #contact .form-contact form #user-information {
				
			}
				.container #contact .form-contact form fieldset {
					width: 100%;
					padding: 0;
					margin: 0 0 1em 0;
				}
					.container #contact .form-contact form fieldset label {
						color: #666;
						font-weight: 300;
						font-size: 1.1em;
						text-align: left;
					}
					.container #contact .form-contact form #user-information fieldset input, .container #contact .form-contact form fieldset textarea  {
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
						background: #E1E1E1;
						border: none;
						border-radius: 3px;
						box-sizing: border-box;
						padding: 0.8em;
						font-weight: 400;
						color: #333;
					}
					.container #contact .form-contact form fieldset label, .container #contact .form-contact form #user-information fieldset input, .container #contact .form-contact form fieldset textarea {
						display: block;
						width: 100%;
					}
				.container #contact .form-contact form fieldset textarea {
					height: 100px;
					resize: none;
				}
					.container #contact .form-contact form button {
						background: #26A69A;
						border: none;
						color: #fff;
						padding: 0.8em 1em;
						border-radius: 3px;
					}

.container #suscribe {
	background: #2c3e50;
	padding: 6em 0;
	margin-top: 1em;
}
	.container #suscribe #container-form-suscribe {
		width: 22%;
		display: inline-block;
		vertical-align: bottom;
	}
		.container #suscribe #container-form-suscribe fieldset {
			margin: 0.8em 0;
			padding: 0;
		}
			.container #suscribe #container-form-suscribe fieldset input {

			}
	.container #suscribe #container-title-suscribe {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: #fff;
		display: inline-block;
		padding: 0 2.5em;
		text-align: left;
		vertical-align: top;
		width: 50%;
	}
		.container #suscribe #container-title-suscribe h2 {
			font-size: 1.8em;
			font-weight: 500;
		}
	.container #suscribe form {
		width: 100%;
	}
	.container #suscribe form input {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border-radius: 3px;
		border: none;
		box-sizing: border-box;
		padding: 0.6em 0.8em;
		width: 100%;
	}
	.container #suscribe form button {
		background: #FFEB3B;
		border-radius: 3px;
		border: none;
		outline: none;
		padding: 0.8em 0.5em;
		width: 100%;
	}
.container footer {
	background: #12CBBA;
	padding: 3em 4em;
	text-align: center;
}
	.container footer p {
		color: #fff;
		font-weight: 300;
		margin: 0;
	}
	.container footer #descrption-footer, .container footer #social-network-footer {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		padding: 1em 0;
	}
	.container footer #social-network-footer {
		padding-left: 4em;
		width: 25%;
		border-left: 1px solid #fff;
	}
		.container footer #social-network-footer h3 {
			color: #fff;
			margin: 0 0 0.4em 0;
			font-weight: 400;
			width: 80%;
		}
		.container footer #social-network-footer a {
			color: #239086;
			display: block;
			text-decoration: none;
			padding: 0.1em 0;
		}
	.container footer #descrption-footer {
		padding-right: 2em;
		width: 30%;
	}
	.container footer #btn-up {
		background: rgba(90, 90, 90, 0.7);
		border-radius: 4px;
		border: none;
		color: #FFF;
		font-size: 2em;
		outline: none;
		padding: 0.2em 0.35em;
		position: fixed;
		bottom: 15px;
		right: 15px;
	}


.btn-mobile-nav {
	z-index: 99999;
    background: #FFF;
    border-radius: 4px;
    border: none;
    color: transparent;
    display: none;
    font-size: 1.5em;
    height: 1.85em;
    outline: none;
    position: fixed;
    right: 18px;
    top: 15px;
    width: 2.2em;
}
.btn-mobile-nav::before {
	position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#424242 20%, transparent 20%, transparent 39%, #424242 40%, #424242 60%, transparent 60%, transparent 80%, #424242 80%);
    content: '';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#mobile-nav {
	background: #E0F2F1;
	padding: 0 1.2em;
	position: fixed;
	text-align: center;
	overflow: hidden;
	-webkit-transition: max-height 0.4s ease;
	-o-transition: max-height 0.4s ease;
	transition: max-height 0.4s ease;
}
	#mobile-nav ul li a {
		color: #333;
		font-weight: 400;
		font-size: 1em;
		text-decoration: none;
		display: inline-block;
		padding: 0.7em 1em;
		border-bottom: 2px solid transparent;
		-o-transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
	}