@font-face {
	font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?6fsl0x');
    src:    url('fonts/icomoon.eot?6fsl0x#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?6fsl0x') format('truetype'),
        url('fonts/icomoon.woff?6fsl0x') format('woff'),
        url('fonts/icomoon.svg?6fsl0x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	background: #3F51B5;
	color: #fff;
}
::selection {
	background: #3F51B5;
	color: #FFF;
}

.icon-chevron-down:before {
    content: "\e902";
}
.icon-chevron-up:before {
    content: "\e903";
}
.icon-bullhorn:before {
    content: "\e904";
}
.icon-stack:before {
    content: "\e905";
}
.icon-display:before {
    content: "\e906";
}
.icon-mobile:before {
    content: "\e907";
}
.icon-sad:before {
    content: "\e908";
}
.icon-checkmark:before {
    content: "\e909";
}
.icon-facebook:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-skype:before {
    content: "\e90a";
}



/* Global Styles */

.image-responsive {
	max-width: 100%;
	display: inline-block;
}
.list-none {
	list-style: none;
	padding: 0;
	margin: 0;
}
.relative {
	position: relative;
}
.no-underline {
	text-decoration: none;
}
.inline-block {
	display: inline-block;
}
.inline-block-top {
	display: inline-block;
	vertical-align: top;
}
.inline-block-middle {
	display: inline-block;
	vertical-align: middle;
}
.no-margin {
	margin: 0;
}
.team-title {
	text-align: left;
}
	.team-title h3 {
		border-bottom: 1px solid;
		color: #3E3E3E;
		display: inline-block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0;
	}
.block {
	display: block;
}
.anchor {
	width: 100%;
}
.bold {
	font-weight: bold !important;
}
fieldset {
	border: 0;
}
fieldset input, fieldset textarea {
	outline: none;
}
figure {
	margin: 0;
}
.border-bottom-item-nav {
	border-bottom: 2px solid #12CBBA !important;
}

.collapse-menu {
	max-height: 0;
}
.no-collapse-menu {
	max-height: 260px;
}
.field-error:before {
	color: #fff;
    background: #EF5350;
    border-radius: 100%;
    width: 20px;
    height: 21px;
    font-weight: bold;
    font-size: 16px !important;
    content: "x";
    position: absolute;
    right: 10px;
    /* top: 17px; */
    z-index: 9999;
}
.hidden {
	display: none !important;
}
.selectedService {
	background: #26A69A !important;
	border: none !important;
	color: #fff !important;
}